<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Gpu Prices Api</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}"/>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-5">
            <a class="navbar-brand" th:href="@{/}">Gpu Prices Api</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
    <section class="py-5" id="features">
        <div class="container px-5 my-5">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Link</th>
                    <th scope="col">Seller</th>
                    <th scope="col">Price</th>
                    <th scope="col">Percent of MSRP</th>
                    <th scope="col">Last checked</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="listing: ${pageDto.listings}">
                    <td>
                        <a th:href="${listing.url}" th:text="${listing.name}" target="_blank"></a>
                    </td>
                    <td>
                                <span th:if="${#strings.contains(listing.seller,'Amazon')}">
                                    <img th:src="@{/assets/amazon_icon.png}" class="img-fluid img-thumbnail"
                                         alt="amazon icon"
                                         style="background-color: transparent; border: 0; width: 50px; height: 50px;">
                                </span>
                        <span th:text="${#strings.replace(listing.seller, '_', ' ')}"></span>
                    </td>
                    <td th:text="${listing.price+listing.currencySymbol}"></td>
                    <td>
                        <div th:with="result=${listing.price / models.get(listing.model).msrp * 100}">
                            <span th:attr="class=${result <= 100 ? 'text-success' : (result <= 130 ? 'text-warning' : 'text-danger')}"
                                  th:text="${result}"></span>
                            <span>%</span>
                        </div>
                    </td>
                    <td>
                        <span th:text="${#temporals.format(listing.effectiveDate, 'yyyy-MM-dd HH:mm:ss')}"></span>
                        <span> UTC</span>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </section>
</main>
<!-- Footer-->
<footer class="bg-dark py-4 mt-auto">
    <div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto">
                <div class="small m-0 text-white">Copyright &copy; Your Website 2022</div>
            </div>
            <div class="col-auto">
                <a class="link-light small" href="#!">Privacy</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small" href="#!">Terms</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small" href="#!">Contact</a>
            </div>
        </div>
    </div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script th:src="@{/js/scripts.js}"></script>
</body>
</html>
